@import "variables";
@import "mixins";


@import "../node_modules/bootstrap/scss/bootstrap";


@import "text-highlight";
@import "blog-body";

// Global Components

@import "bootstrapify";

@import "leftover";

@import "dark-mode";

body.preload {
  // visibility: hidden
  opacity: 0;;
  transition: none !important;
  * {
    transition: none !important;
    &::before {
      transition: none !important;
    }
  }
}
