body.dark-mode {
  background: $darkmode-bg;
  color: $darkmode-font;
  .card, .blog-body {
    background-color: $darkmode-white;
  }
  footer a {
    color: $darkmode-font;
  }
  footer li.patreon g {
    fill: $darkmode-font;
  }
  hr.dark {
    border-color: $darkmode-font;
  }
  .blog-body .blog-content {
    blockquote {
      background: $darkmode-bg;
    }
    hr {
      border: 1px solid $darkmode-font;
    }
  }
}

body {
  transition: background-color $darkmode-transition-duration ease;
}
// [data-aos^=fade][data-aos^=fade],
h2.divider,
body .card,
body .blog-body,
footer a,
footer li.patreon g,
blockquote,
hr {
  transition-duration: $darkmode-transition-duration;
  transition-property: color, fill, background-color;
  transition-timing-function: ease;
}

[data-aos^=fade][data-aos^=fade].blog-body,
[data-aos^=fade][data-aos^=fade].card { /// fixing aos's issue
  transition-property: color, fill, background-color, opacity, transform;
}
