figure {
  position: relative;
  margin: 0;
	figcaption {
		position: absolute;
		font-size: 12px;
    right: 0px;
    &.caption {
      position: relative;
      display: block;
      font-size: 14px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }
  img {
    &.bg-white {
      background: $white;
    }
    &.bg-black {
      background: $darkmode-white;
    }
  }
  &.fl-right {
    @media (min-width: $grid-responsive-md-break) { /// from ionic
      float: right;
      width: 50%;
      margin-left: 2rem;
    }
  }
  &.fl-left {
    @media (min-width: $grid-responsive-md-break) { /// from ionic
      float: left;
      width: 50%;
      margin-right: 2rem;
    }
  }
}
