figure {
  position: relative;
  margin: 0;
	figcaption {
		position: absolute;
		font-size: 12px;
    right: 0px;
    &.caption {
      position: relative;
      display: block;
      font-size: 14px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }
    }
  }
}
