
.d-grid {
  display: grid;
}

.showcase-grid {
  display: grid;
  grid-template-columns: minmax(0,1fr) minmax(0,1fr);
  grid-row-gap: 40px;
  grid-column-gap: 40px;
  grid-auto-rows: auto;

  @media (max-width: $grid-responsive-md-break) { /// from ionic
    grid-template-columns: 1fr;
  }

  .card-body {
    .graphic {
      @include background-image();
      height: 200px;
      @media (max-width: $grid-responsive-md-break) { /// from ionic
        height: 100px;
      }
    }
  }

}
