hr {
	border-color: $gray-dark;
}

hr.small {
	max-width: 100px;
	margin: 15px auto;
	border-width: 4px;
}

hr.medium {
	max-width: 300px;
	margin: 15px auto;
	border-width: 4px;
}

hr.dark {
	border-color: $gray-dark;
}
