h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}

.img-preview {
  display: block;
  background: no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 100%;
  min-height: 100px;
}
.floating-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  border: 1px solid $primary;
  color: $primary;
  background: $white;
  border-radius: $border-radius;
  padding: 0px 12px;
  text-align: center;
  &:hover {
    background: $primary;
    color: $white;
  }
}


#scrollUp {
	bottom: 20px;
	top: initial;
}

a {
  // text-decoration: underline;
  color: $primary;
  &:hover,
  &:focus {
    color: $brand-primary;
    text-decoration: none;
  }
}

footer {
  margin-top: 20px;
  ul {
    margin-bottom: 0;
  }
  i { /// icons
    font-size: 32px;
  }
  a {
    color: $gray-dark;
    &:hover,
    &:focus,
    &:active {
      color: $primary;
    }
  }
	li.patreon {
    a {
      position: relative;
      top: -7px;
    }
    g {
      fill: $gray-dark;
    }
    a:hover,
    a:focus,
    a:active {
      g {
        fill: $primary;
      }
    }
	}
}

.post-meta {
  // color: $gray;
  font-size: 16px;
  font-style: italic;
  margin-top: 0;
  > a {
    text-decoration: none;
    font-size: inherit;
    &:hover,
    &:focus {
      color: $brand-primary;
      text-decoration: none;
    }
  }
}



figure {
	position: relative;
	figcaption {
		position: absolute;
		font-size: 12px;
    right: 0px;
    &.caption {
      position: relative;
      display: block;
      font-size: 14px;
      width: 80%;
      margin: 0 auto;
      text-align: center;
      @media (max-width: 479px) {
        text-align: left;
        margin: 0;
      }
    }
  }
}


hr.small {
	max-width: 100px;
	margin: 15px auto;
	border-width: 4px;
	border-color: $white;
}

hr.medium {
	max-width: 300px;
	margin: 15px auto;
	border-width: 4px;
	border-color: $white;
}

hr.dark {
	border-color: $gray-dark;
}

.hidden {
  display: none;
}


//////////avgerinos

body {
  font-family: 'Roboto', sans-serif;
  color: $gray-dark;
  font-size: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  margin-top: 120px;
  @media (max-width: 767.99px) {
    margin-top: 150px;
  }
}
