// Variables

$brand-primary: #546E7A; // https://www.materialui.co/colors/orange/700
$gray-dark: lighten(black, 25%);
// $gray: lighten(black, 50%);
// $white-faded: fade(white, 80%);
// $gray-light: #eee;
$card-shadow: #c8bebe;

$primary: $brand-primary; //darken($brand-primary, 30%);

/// from avgerinos (whoops)

// $primary: rgb(100, 102, 107);
$white: white;
$bg: #f2f2f2;
$border-radius: 8px;

$darkmode-bg: #212629;
$darkmode-white: #111;
$darkmode-font: #b2b2b2;
$darkmode-transition-duration: 0.5s;

//// scss overrides

$body-bg: $bg;
$theme-colors: (
  "dark": $primary,
  "primary": $brand-primary
);
