// Variables

$brand-primary: #F57C00; // https://www.materialui.co/colors/orange/700
$gray-dark: lighten(black, 25%);
// $gray: lighten(black, 50%);
// $white-faded: fade(white, 80%);
// $gray-light: #eee;
$card-shadow: #c8bebe;

$primary: $brand-primary; //darken($brand-primary, 30%);

/// from avgerinos (whoops)

// $primary: rgb(100, 102, 107);
$white: white;
$bg: #eaeaea;
$border-radius: 8px;

//// scss overrides

$body-bg: $bg;
$theme-colors: (
  "dark": $primary,
  "primary": $brand-primary
);
