body {
  background: #eaeaea;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  color: #64666b;
  font-size: 20px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
cards {
  display: block;
  margin: 120px auto 20px;
}
cards card {
  display: block;
  position: relative;
  background: white;
  padding: 30px;
  margin: 30px 0px;
  box-shadow: 0px 1px 6px #c8bebe;
  height: auto;
  overflow: hidden;
}
cards card text {
  display: inline-block;
  vertical-align: top;
  position: relative;
  height: intrinsic;
  margin: 0px;
}
cards card h2 {
  margin: 0 0 10px;
  font-size: 1.5rem;
}
cards card h2 a {
  font-size: inherit;
  text-decoration: none;
  border-bottom: 2px dotted #1a1b1c;
}
cards card h2 a:hover {
  border-bottom: 2px dotted #64666b;
}
cards card tiny {
  display: block;
}
cards card graphic {
  display: inline-block;
  width: 49%;
  overflow: hidden;
  padding: 0px;
  height: auto;
}
cards card graphic img {
  margin-bottom: 40px;
}
/* TIMELINE */
cards.timeline {
  box-shadow: none;
  background: none;
}
card.timeline graphic {
  width: 44%;
}
card.timeline graphic img {
  width: 100%;
}
card.timeline tiny {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
  margin: 5px 0px;
  width: 80%;
}
card.timeline lines {
  display: block;
  position: absolute;
  top: 64px;
  left: 0px;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
/* RESUME */
cards.resume {
  background: white;
  box-shadow: 0px 1px 6px #c8bebe;
}
card.resume {
  padding: 5px 100px 5px 150px;
}
card.resume .pinkLine {
  display: none;
}
card.resume graphic {
  width: 0%;
  height: 0px;
}
card.resume toggle {
  display: none;
}
card.resume text {
  margin: 5px 100px;
  width: 60%;
}
card.resume h2 {
  width: auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px;
}
card.resume tiny {
  width: auto;
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0px;
  display: none;
}
b {
  font-weight: bold;
  font-size: inherit;
}
.resume graphic {
  display: none;
}
cards card.divider.resume {
  display: block !important;
  padding: 100px 100px 50px 150px;
}
cards card.divider.timeline {
  box-shadow: none;
  background: none;
  min-height: auto !important;
  height: auto;
  margin: 0px !important;
  padding: 20px;
  font-size: 12px;
}
cards card.divider company {
  font-weight: 500;
  font-size: 24px;
  margin-right: 10px;
}
cards card.divider detail {
  font-size: 24px;
  font-weight: 500;
  opacity: 0.5;
}
cards card.divider subhead {
  display: block;
}
ribbon {
  display: block;
  margin: 0 auto;
  position: relative;
}
header {
  z-index: 1000;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  background: #64666b;
  width: 100%;
  position: fixed;
  display: block;
  font-size: 0px;
  top: 0px;
  left: 0px;
  padding: 0px;
  text-align: left;
}
header a.title {
  display: inline-block;
  padding: 10px 0px;
  width: 49%;
}
header a.title h1,
header a.title h2 {
  font-size: 20px;
  color: white;
  margin: 5px;
}
header a.title h2 {
  font-size: 12px;
}
toggle {
  font-size: 0px;
  display: block;
  text-align: left;
  white-space: nowrap;
}
toggle tog {
  display: inline-table;
  color: #64666b;
  border: 2px solid #64666b;
  margin: 40px 0px 0px 0px;
  padding: 5px 20px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
  min-width: 70px;
  font-size: 14px;
  font-weight: 500;
  border-left: none;
  white-space: nowrap;
}
toggle tog:hover {
  background: #97999e;
}
toggle tog:first-child {
  border-radius: 8px 0px 0px 8px !important;
  border-left: 2px solid #64666b !important;
}
toggle tog:last-child {
  border-radius: 0px 8px 8px 0px;
}
toggle tog.selected {
  background: #64666b;
  color: white;
  border-color: #64666b;
}
header toggle {
  display: inline-block;
  width: 49%;
  min-width: 300px;
  margin: 20px 0px;
  text-align: right;
}
header toggle tog.selected {
  color: #64666b;
  background: white;
  border-color: white;
}
header toggle tog:first-child {
  border-left: 2px solid white !important;
}
header tog {
  color: white;
  margin: 0px;
  border-color: white !important;
}
/*------------------- */
@media screen and (min-width: 320px) {
  ribbon {
    width: 95%;
    height: auto;
  }
  cards {
    width: 95%;
    overflow: hidden;
  }
  card {
    width: 95%;
    height: 610px;
  }
}
@media screen and (min-width: 768px) {
  ribbon {
    width: 700px;
  }
  cards {
    width: 708px;
    overflow: visible;
  }
  card {
    width: 700px;
    height: 520px;
  }
}
@media screen and (min-width: 1024px) {
  ribbon {
    width: 900px;
  }
  cards {
    width: 900px;
    overflow: visible;
  }
  card {
    width: 900px;
    height: 650px;
  }
}
@media screen and (min-width: 1200px) {
  ribbon {
    width: 1100px;
  }
  cards {
    width: 1100px;
    overflow: visible;
  }
  card {
    width: 1100px;
    height: 700px;
  }
}
@media print {
  body {
    background: none;
  }
  header {
    display: none;
  }
  card.divider * {
    font-size: 16pt !important;
    padding: 0px !important;
  }
  card.resume h2 {
    font-size: 12pt !important;
  }
  cards {
    margin-top: 0px;
    color: #64666b !important;
    box-shadow: none;
  }
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1rem;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.6rem;
}
.img-preview {
  width: 100px;
  height: 100px;
  display: block;
  background: no-repeat center center;
  background-size: cover;
  float: left;
  margin: 0px 20px;
}
@media (max-width: 640px) {
  .img-preview {
    width: 100%;
    height: 150px;
    margin: 10px auto;
  }
}
.floating-button {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
  border: 1px solid #64666b;
  color: #64666b;
  background: white;
  border-radius: 8px;
  padding: 0px 12px;
  text-align: center;
}
.floating-button:hover {
  background: #64666b;
  color: white;
}
#scrollUp {
  bottom: 20px;
  top: initial;
}
.pager {
  margin: 40px;
  text-align: center;
}
.pager a {
  padding: 15px 25px;
  border-radius: 8px;
  background: white;
  border: 1px solid #64666b;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}
.pager a:focus,
.pager a:hover {
  background: #64666b;
  color: white;
}
a {
  color: #64666b;
}
a:hover,
a:focus {
  color: #ffbe40;
  text-decoration: none;
}
footer {
  margin-top: 20px;
}
footer ul {
  margin-bottom: 0;
}
footer i {
  font-size: 32px;
}
footer li.patreon g {
  fill: #64666b;
}
footer li.patreon:hover g {
  fill: #ffbe40;
}
.post-meta {
  font-size: 16px;
  font-style: italic;
  margin-top: 0;
}
.post-meta > a {
  text-decoration: none;
  font-size: inherit;
}
.post-meta > a:hover,
.post-meta > a:focus {
  color: #ffbe40;
  text-decoration: none;
}
figure {
  position: relative;
}
figure figcaption {
  position: absolute;
  font-size: 12px;
  right: 0px;
}
hr.small {
  max-width: 100px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
hr.medium {
  max-width: 300px;
  margin: 15px auto;
  border-width: 4px;
  border-color: white;
}
hr.dark {
  border-color: #64666b;
}
::-moz-selection {
  color: white;
  background: #64666b;
}
::selection {
  color: white;
  background: #64666b;
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
body {
  webkit-tap-highlight-color: #64666b;
}
.blog-body {
  margin-top: 120px;
  background: white;
  overflow: hidden;
}
.blog-body .blog-header {
  width: 100%;
  position: relative;
}
.blog-body .blog-header .bg-image {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 105%;
  height: 100%;
  background: no-repeat center center;
  background-attachment: scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  filter: blur(5px);
}
.blog-body .blog-header .text {
  color: white;
  position: relative;
  padding: 40px;
  text-shadow: 0px 0px 3px black, 0px 0px 8px black;
}
.blog-body .blog-header hr.small {
  margin: 20px 0;
  box-shadow: 0 0 3px 0 #000;
}
.blog-body .blog-content {
  padding: 40px;
}
.blog-body .blog-content a {
  text-decoration: underline;
}
.blog-body .blog-content p {
  margin: 30px 0px;
}
.blog-body .blog-content h1 {
  margin-top: 30px;
}
.blog-body .blog-content img {
  width: 100%;
}
.blog-body .blog-content hr {
  border: 1px solid #cccdcf;
}
.blog-body .blog-content .post-meta a,
.blog-body .blog-content .categories a {
  text-decoration: none;
}
