{{ if .Params.NDA }}
  <h2 class="divider">{{ .Title }}</h2>
{{ else }}
  <a href="{{ .Permalink }}" target="_self">
    <h2 class="divider">{{ .Title }}</h2>
  </a>
{{ end }}

<div class="card timeline">
  <div class="card-body">
    <div class="row">
      {{$img := (index (.Params.showcaseImg) 0) }}
      {{ if $img }}
      <div class="col-md-6 order-md-2 graphic timeline">
        <img src="{{ $img.src }}" />
      </div>
      {{ end }}
      <div class="col-md{{if $img}}-6{{end}} order-md-1 text">
        <h2>{{ .Params.headline }}</h2>
        <p class="tiny">{{.Description}}</p>
        {{ if .Params.NDA }}
          {{ partial "nda.html" . }}
        {{ else }}
          <a href="{{ .Permalink }}" target="_self" role="button" class="btn btn-dark mb-5">Learn More</a>
          {{ if .Params.showcaseImg }}
            {{ if gt (len .Params.showcaseImg) 1 }}
              <div class="btn-group d-flex bjo-btn-bar" role="group">
                {{ range $index, $link := .Params.showcaseImg }}
                  <button type="button" class="btn btn-outline-dark w-100 showcase-toggle {{if eq $index 0}}active{{end}}" data-img-src="{{$link.src}}">{{$link.title}}</button>
                {{ end }}
              </div>
            {{ end }}
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</div>
