{{/* printf "%#v" .Page  */}}
{{ if .Params.headline }}
  <div data-aos="fade-up">
    <a href="{{ .Permalink }}" target="_self" class="card showcase">
      <div class="card-body">
        {{/* printf "%#v" .Params  */}}
        {{$img := .Params.image }}
        {{ if $img }}
        <div class="graphic" style="background-image: url({{ $img }})">

        </div>
        {{ end }}
        <div class="text">
          <h2>{{.Title}}</h2>
          {{ partial "showcase-tags.html" . }}
          <p class="description">{{.Params.headline}}</p>
          <button href="{{ .Permalink }}" target="_self" role="button" class="btn btn-dark">Learn More</button>
        </div>
      </div>
    </a>
  </div>
{{ end }}
