<!-- needs edit -->

{{ partial "header.html" .}}

  {{ partial "new-header.html" .}}

  <!-- Post Content -->
  <div class="container blog-body">
    {{ if .Params.NDA }}
    <div class="blog-content">
      <h2>{{.Title}}</h2>
      {{.Description}}
      {{ partial "nda.html" . }}
      <hr/>
      <p class="post-meta">
        {{ partial "posted-on-in.html" .}}
      </p>
      {{ partial "related-posts.html" . }}
    </div>
    {{ else }}
      {{ partial "blog-header.html" . }}
      <div class="blog-content">
        {{ .Content }}
        <hr/>
        <p class="post-meta">
            {{ partial "posted-on-in.html" .}}
        </p>
        {{ partial "related-posts.html" . }}
      </div>
    {{ end }}
  </div>

{{ partial "footer.html" .}}
