<div class="blog-header">
  <div class="bg-image" style="background-image: url('{{ .Site.BaseURL }}/{{if isset .Params "image"}}{{.Params.image}}{{else}}img/default-bg0.jpg{{end}}')"></div>
  <div class="text">
    <h1>{{ .Title }}</h1>
    {{if .Description}}
      <hr class="small" />
      <h3 class="subheading">{{ .Description }}</h3>
      {{ if eq .Type "blog"}}<h5>{{ .ReadingTime }} minute read</h5>{{end}}
    {{ end }}
  </div>
  {{if .Params.photoCredit}}<div class="photo-credit"><a href="{{ .Params.photoCredit }}">Image Credit</a></div>{{ end }}
</div>
