        <!-- Footer -->
        <footer>
          <div class="container">
            <hr class="medium dark">
              <ul class="list-inline text-center">
                <li class="list-inline-item">
                  <a href="mailto:{{ .Site.Params.email }}">
                    <i class="ion-android-mail ion-32"></i>
                  </a>
                </li>
                {{ range .Site.Params.social }}
                <li class="list-inline-item">
                  <a href="{{ .url }}">
                    <i class="ion-social-{{ .title }} ion-32"></i>
                  </a>
                </li>
                {{ end }}
                <li class="patreon list-inline-item">
                  <a href="https://www.patreon.com/bradorego">
                    <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="24pt" height="18pt" viewBox="0 0 160 166">
                    <g transform="translate(0,160) scale(0.1,-0.1)"
                    fill="#404040" stroke="none">
                    <path d="M0 800 l0 -800 145 0 145 0 0 800 0 800 -145 0 -145 0 0 -800z"/>
                    <path d="M911 1580 c-204 -54 -374 -225 -427 -431 -22 -84 -22 -227 1 -304 48
                    -168 167 -312 317 -384 105 -50 182 -65 301 -58 116 7 198 35 296 101 165 113
                    261 294 261 491 -1 398 -367 685 -749 585z"/>
                    </g>
                    </svg>

                  </a>
              </ul>
              <div class="text-center">
                <a href="http://rochestermade.com" title="Rochester Made">
                  <img alt="Rochester Made" id="rochesterMade" src="https://rochestermade.com/media/images/rochester-made-dark-on-light.png" title="Rochester Made">
                </a>
              </div>
            </div>
        </footer>
      </div> {{/* end #page-content-wrapper */}}
    </div> {{/* end #wrapper */}}

    <script src="/js/all.js"></script>

    {{ if isset .Site.Params "Ganalytics" }}{{ partial "ga.html" . }}{{ end }}

</body>

</html>
