        <!-- Footer -->
        <footer>
            <div class="container">
                <div class="row">
                    {{ partial "bootstrap-div.html" . }}
                    <hr class="medium dark">
                      <ul class="list-inline text-center">
                        <li>
                          <a href="mailto:{{ .Site.Params.email }}">
                            <i class="ion-android-mail ion-32"></i>
                          </a>
                        </li>
                        {{ range .Site.Params.social }}
                        <li>
                          <a href="{{ .url }}">
                            <i class="ion-social-{{ .title }} ion-32"></i>
                          </a>
                        </li>
                        {{ end }}
                      </ul>
                      <div class="text-center">
                        <a href="http://rochestermade.com" title="Rochester Made">
                          <img alt="Rochester Made" id="rochesterMade" src="http://rochestermade.com/media/images/rochester-made-dark-on-light.png" title="Rochester Made">
                        </a>
                      </div>
                    </div>
                </div>
            </div> {{/* container */}}
        </footer>
      </div> {{/* end #page-content-wrapper */}}
    </div> {{/* end #wrapper */}}

    <script src="/js/all.js"></script>

    {{ if isset .Site.Params "Ganalytics" }}{{ partial "ga.html" . }}{{ end }}

</body>

</html>
