<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <base target="_blank">

    <title>{{ .Title }} -- {{ .Site.Title }}</title>

    {{ if .Site.Params.RSS }}
        <link href="{{ .Site.Params.RSS }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .Site.Params.RSS }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link href="{{ .Site.BaseURL }}/css/all.css" rel="stylesheet">
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
</head>

<body>
    <div id="wrapper">
        {{partial "menu-toggle.html" .}}
        {{ partial "scrollUp.html" . }}
        {{ partial "sidebar.html" . }}

        <div id="page-content-wrapper">
