<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="author" content="{{ .Site.Params.Author }}">
    <base target="_blank">

    <title>{{ .Title }}</title>
    {{ if .Params.image }}
        <meta property="og:title" content="{{ .Title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{ .Description }}" />
        <meta property="og:image" content="{{ .Params.image | absURL }}" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="fb:app_id" content="" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ .Title }}" />
        <meta name="twitter:description" content="{{ .Description }}" />
        <meta name="twitter:image" content="{{ .Params.image | absURL }}" />
    {{ else }}
        <meta property="og:title" content="{{ .Site.Params.Author }}. {{ .Site.Params.one_liner }}" />
        <meta property="og:type" content="website" />
        <meta property="og:description" content="{{ .Site.Params.social_description }}" />
        <meta property="og:image" content="https://bradorego.com/img/headshot.jpg" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="fb:app_id" content="" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:title" content="{{ .Site.Params.Author }}. {{ .Site.Params.one_liner }}" />
        <meta name="twitter:description" content="{{ .Site.Params.social_description }}" />
        <meta name="twitter:image" content="https://bradorego.com/img/headshot.jpg" />
    {{ end }}

    {{ if .Site.Params.RSS }}
        <link href="{{ .Site.Params.RSS }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
        <link href="{{ .Site.Params.RSS }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="/css/all.css" rel="stylesheet">
    <!-- Ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    {{ partial "fullStory.html" . }}
    {{ partial "heap.html" . }}
    {{ partial "ga.html" . }}
</head>

<script type="text/javascript">
    if (JSON.parse(window.localStorage.getItem('bjo-dark-mode'))) {
        document.body.addClass('dark-mode');
    }
</script>

<body class="preload">
    {{ partial "scrollUp.html" . }}
