

<header>
  <!-- <nav class="navbar fixed-top navbar-dark bg-primary">
    <div class="container">
      <a class="navbar-brand" href="#">Fixed top</a>
      <div class="btn-group" data-toggle="buttons">
        <label class="btn btn-light">
          <input type="radio" name="options" id="option1" autocomplete="off"> Radio 1 (preselected)
        </label>
        <label class="btn btn-primary">
          <input type="radio" name="options" id="option2" autocomplete="off"> Radio 2
        </label>
      </div>
    </div>
  </nav> -->

  <ribbon>
      <!-- <a class="title" href="/" target="_self"> -->
        <div class="title">
          <h1>Bradley Orego</h1>
          <h2>Product Designer. Usability Researcher. Entrepreneur. Dancer.</h2>
          <a href="/" target="_self">(Home)</a><a href="/about" target="_self">(About)</a>
        </div>
      <!-- </a> -->
      <toggle>
        <tog id="showcase" class="">Showcase</tog>
        <tog id="blog" class="selected">Blog</tog>
      </toggle>
    </ribbon>
</header>
