

<header>
  <ribbon>
    <a href="/" target="_self">
      <div class="title">
        <h1>Bradley Orego</h1>
        <h2>Product Designer. Usability Researcher. Entrepreneur. Dancer.</h2>
      </div>
    </a>
    <toggle>
      <a id="showcase" href="/" target="_self" class="tog {{if eq .Page.Type "showcase"}}selected{{end}}{{if eq .Page.URL "/"}}selected{{end}}">Showcase</a>
      <a id="blog" href="/blog" target="_self" class="tog {{if eq .Page.Type "blog"}}selected{{end}}">Blog</a>
      <a id="about" href ="/about" target="_self" class="tog {{if isset .Params "highlighted"}}{{if eq .Params.highlighted "about"}}selected{{end}}{{end}}">About</a>
    </toggle>
  </ribbon>
</header>
