
<header class="intro-header">
  <div class="bg-image" style="background-image: url('{{ .Site.BaseURL }}/{{if isset .Params "image"}}{{.Params.image}}{{else}}img/default-bg0.jpg{{end}}')"></div>
  <div class="container">
    <div class="row">
       {{ partial "bootstrap-div.html" .}}
         <div class="post-heading">
           <h1>{{ .Title }}</h1>
           {{if .Description}}
             <hr class="small" />
             <h3 class="subheading">{{ .Description }}</h3>
             {{ if eq .Type "post"}}<h6>{{ .ReadingTime }} minute read</h6>{{end}}
            {{ end }}
         </div>
       </div>
    </div>
  </div>
  {{if isset .Params "photocredit" }}<a class="credit" href="{{.Params.photocredit}}">Photo credit</a> {{end}}
</header>
