{{ if .Params.imageGallery }}
  <h1>Images</h1>
    <div class="row">
      {{ range $index, $link := .Params.imageGallery }}
        {{ if eq $link.src "divider"}}
          <div class="col-sm-12 mt-3">
            <h2>{{$link.title}}</h2>
          </div>
        {{ else }}
          <div class="col-md-6 col-sm-12">
            <a href="{{$link.src}}"><img src="{{$link.src}}" alt="{{$link.title}}"></a>
          </div>
        {{ end }}
      {{ end }}
    </div>
  </div>
{{ end }}
