{{ partial "header.html" . }}

    {{ partial "new-header.html" . }}

    <div class="container showcase">
      <h2 class="divider">Recent/Current Projects:</h2>
      <div class="card currently">
        <div class="card-body">
          <a href="https://researchops.community">ResearchOps</a> <a href="http://performing.design">Performing.Design</a> <a href="https://melioralabs.com">MelioraLabs</a>
        </div>
      </div>
      <div class="card currently construction">
        <p class="my-0">I am currently actively seeking opportunities in Senior+ (Lead, Staff, Principal, etc.) User Research or in UX Leadership (Manager, Director, VP, etc.). Specifically, I'm looking for opportunities where a company is looking to start/scale a Research practice or are looking to formalize and organize their existing Research/UX team.<p>
      </div>

      <div class="d-grid showcase-grid">
        {{ range where .Site.Pages "Type" "showcase" }}
          {{ .Render "archive" }}
        {{ end }}
      </div>
    </div>

{{ partial "footer.html" . }}
