<figure {{ with .Get "class" }}class="{{.}}"{{ end }}>
  <a href="{{ .Get "src" }}">
    <img src="{{ .Get "src" }}" {{ if or (.Get "alt") (.Get "caption") }}alt="{{ with .Get "alt"}}{{.}}{{else}}{{ .Get "caption" }}{{ end }}"{{ end }} />
  </a>
  {{ if (.Get "caption") }}
    <figcaption class="caption">
      {{ .Get "caption" }}
    </figcaption>
  {{ end }}
  {{ if .Get "attrLink" }}
    {{ with .Get "attrLink" }}<a href="{{.}}" class="imgAttr">Source</a> {{ end }}
  {{ end }}
</figure>



{{/*
  {{< img
    src="/img/posts/user-research-101/decision-tree.jpeg"
    attrLink="https://dev.to/nexttech/classification-and-regression-analysis-with-decision-trees-jgp"
    caption="What a fun (and completely unrelated) decision tree!"
  >}}
*/}}
